.question {
  width: 90%;
  margin: auto;
  padding: 1.7rem 0;
}

.student-infor {
  width: 90%;
  margin: 1.2rem auto;
}

.options {
  width: 90%;
  margin: 2rem auto;
  @include flex(space-between, center, row);
}

.question-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  button {
    margin: 0.7rem auto;
  }
}
