.login-container {
  width: 40%;
  margin: auto;
  height: 80vh;
  // background-color: black;
  @include flex(center, center, row) // padding-top: 1rem;
    // display: flex;
    // align-items: center;
;
}

.login-form {
  width: 100%;
  margin: auto;
  border: 1px solid $borderColor;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  .form-group {
    margin: 2.2rem 0;
  }
}

.login-ultities {
  display: flex;
  justify-content: space-between;
}
.login-form {
  .btn {
    margin: 2rem auto;
  }
}
